<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(198,33,32)
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: rgb(198,33,32);
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: large;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  
  label{
    color: white;
  }
  h1{
    color: #ddd;
  }
  p{
    color: #ddd;
  }
  
  .container{
    padding-left: 400px;
    padding-right: 400px;
  }
</style>
<title>Add a admin</title>
</head>
<body>

<form action="/addadmin" method="POST">
  <div class="container">
    <h1>Add a new admin</h1>
    <p>Please note that by adding a new admin you are agreeing to give access to do any kind of  modification .</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="cpassword"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" required>
    <hr>

    <button type="submit" class="registerbtn">Add a new admin</button>
  </div>
</form>
<div class="container">
    <a href="/update"><button type="submit" class="registerbtn">Cancel</button></a>
</div>
</body>
</html>
