<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="signin.css">
<title>Add a admin</title>
</head>
<body>

<form action="/addadmin" method="POST">
  <div class="container">
    <h1>Add a new admin</h1>
    <p>Please note that by adding a new admin you are agreeing to give access to do any kind of  modification .</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="cpassword"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" required>
    <hr>

    <button type="submit" class="registerbtn">Add a new admin</button>
  </div>
</form>
<div class="container">
    <a href="/update"><button type="submit" class="registerbtn">Cancel</button></a>
</div>
</body>
</html>
