<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styles.css">
<title>Update Page</title>
<style>
body {font-family: 'Times New Roman', Times, serif;background-color: rgb(198, 33, 32);}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
  background-color: white;
  color: rgb(\198,33,32);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=time], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit]:hover {
  background-color: rgb(150, 117, 101);
}

.container {
  border-radius: 5px;
  background-color: rgb(198,33,32);
  padding: 20px;
  /*border: 3px solid white;*/
}

label{
  color: #ccc;
}
.header{
  background-color: rgb(198,33,32);
  color: #ccc;
}
h3{
  color: #ccc;
}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i> &nbsp; Home Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <br><br>
<div class="header">
  <h1> <b>Update Page</b> </h1>
  <form action="/signin">
  <button class="btn btn-default btn-lg float-right" type="submit" style="margin-right: 2em;">Add Admin </button>
  </form>
  <br><br><br>
</div>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'addEvent')">Add Event</button>
  <button class="tablinks" onclick="openCity(event, 'addMagazine')">Add Magazine</button>
  <button class="tablinks" onclick="openCity(event, 'addAnnouncement')">Add Achivement</button>
  <button class="tablinks" onclick="openCity(event, 'deleteEvent')">Delete Event</button>
  <button class="tablinks" onclick="openCity(event, 'deleteMagazine')">Delete Magazine</button>
  <button class="tablinks" onclick="openCity(event, 'deleteAnnouncement')">Delete Achivement</button>
</div>

<div id="addEvent" class="tabcontent">
  <h3>Add Event</h3>

  <div class="container">
    <form action="/addevent" method="POST">
          <label for="eventname">Event Name</label>
          <input type="text" id="eventname" name="eventname" placeholder="Event Name" required >
      <br>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" placeholder="Date" required>
      <br>
          <label for="time">Time</label>
          <input type="time" id="time" name="time" placeholder="Time" required>
      <br>
          <label for="location">Location</label>
          <input type="text" id="location" name="location" placeholder="Location" required>
      <br>
          <label for="resourceperson">Resource Person</label>
          <input type="text" id="resourceperson" name="resourceperson" placeholder="resourceperson" required>
      <br>
          <label for="url">Image URL</label>
      <p style="color: #ccc;">https://drive.google.com/thumbnail?id=1jNWSPr_BOSbm7iIJQTTbl7lXX06NH9_r <br>Replace id by your image id</p>

          <input type="text" id="url" name="url" placeholder="Image url" required>
      <br>
          <label for="description">Event Description</label>
          <textarea id="description" name="description" placeholder="Event Description" style="height:200px" required></textarea>
          <input type="submit" value="Submit">
    </form>
  </div>
</div>


<div id="deleteEvent" class="tabcontent">
  <h3>Delete Event</h3>
  <div class="container">
    <form action="/deleteevent" method="POST">
      <label for="eventname">Event Name</label>
      <input type="text" id="eventname" name="eventname" placeholder="Event Name" required >
      <br>
      <label for="reason">Reason For Deletion</label>
      <textarea id="reason" name="reason" placeholder="Reason" style="height:200px" required></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<div id="addMagazine" class="tabcontent">
  <h3>Add Magazine</h3>
  <div class="container">
    <form action="/addmagazine" method="POST">
      <label for="magazinename">Magazine Name</label>
      <input type="text" id="magazinename" name="magazinename" placeholder="Magazine Name" required >
  <br>
  <!-- IMAGE URL -->
      <label for="url">Image Link</label>
      <input type="text" id="url" name="url" placeholder="image url" required>
 <br>
      <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre" placeholder="Genre" required>
  <br>
      <label for="description">Magazine Description</label>
      <textarea id="description" name="description" placeholder="Event Description" style="height:200px" required></textarea>
  <br>
  <!-- DOC URL -->
      <label for="url">Link</label>
      <input type="text" id="url" name="url" placeholder="doc url" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<div id="deleteMagazine" class="tabcontent">
    <h3>Delete Magazine</h3>
    <div class="container">
    <form action="/deletemagazine" method="POST">
      <label for="magazinename">Magazine Name</label>
      <input type="text" id="magazinename" name="magazinename" placeholder="Magazine Name" required >
      <br>
      <label for="reason">Reason For Deletion</label>
      <textarea id="reason" name="reason" placeholder="Reason" style="height:200px" required></textarea>
      <input type="submit" value="Submit">
      </form>
    </div>
</div>

<div id="addAnnouncement" class="tabcontent">
    <h3>Add Achivement</h3>
    <div class="container">
      <form action="/addannouncement" method="POST">
        <label for="announcementtitle">Achivement Name</label>
        <input type="text" id="announcementtitle" name="announcementtitle" placeholder="Achivement  Title" required >
        <br>
        <br>
        <label for="url">Image URL</label>
      <p style="color: #ccc;">https://drive.google.com/thumbnail?id=1jNWSPr_BOSbm7iIJQTTbl7lXX06NH9_r <br>Replace id by your image id</p>
        <input type="text" id="url" name="url" placeholder="Image url" required>
        <label for="description">Achivement Description</label>
        <textarea id="description" name="description" placeholder="Achivement Description" style="height:200px" required></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
</div>

<div id="deleteAnnouncement" class="tabcontent">
    <h3>Delete Achivement</h3>
    <div class="container">
      <label for="announcementtitle">Achivement Title</label>
      <input type="text" id="announcementtitle" name="announcementtitle" placeholder="Achivement Title" required >
      <br>
      <label for="reason">Reason For Deletion</label>
      <textarea id="reason" name="reason" placeholder="Reason" style="height:200px" required></textarea>
      <input type="submit" value="Submit">
      </form>
    </div>
</div>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>


</body>
</html> 
